.header {
  width: 100%;
  position: relative;


  &-nav {
    display: none;

    &-mobile {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      right: 5%;
      background: #F5F5F5;

      &-active {
        display: flex;
      }
    }
  }
}

.bgimg {
  width: 100%;
  height: auto;
}