@import "reset";
@import "mixins";
* {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}


@import "section/allSection";
@import "media/all-media";